<!DOCTYPE html>
<html>
<head>
    <title>Instructions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Input Instructions</h1>
        <div class="instructions">
            <pre>
On the first line, write "SEAT X" to denote which seat the network is playing as. The following means that the network is playing as seat 3 (one-indexed):
<strong>SEAT 3</strong>

To write the votes for a government, 1 = Ja, 0 = Nein. The following means that seats 1-4 Jaed the government, while seats 5-7 Neined:
<strong>1111000</strong>

After the voting information, add a space, a dash, and a space, followed by the government and claim information.

To write the government information, write XY: X = president seat number (one-indexed), Y = chancellor seat number (one-indexed). The following means the government had president = seat 1, chancellor = seat 5:
<strong>15</strong>

To write the claim information, write the president claim, chancellor claim, and card played. If the government is a topdeck, just write the card played. Example below:
<strong>RRB RB B</strong>

After the government and claim information, if another action happens, add a space, a dash, and a space, followed by the addition information described below:
For investigation, write <strong>INV X LIB</strong> or <strong>INV X FAS</strong>
For special election, write <strong>SE X</strong>
For bullet, write <strong>KILL X</strong>
For veto (only if both the president and chancellor veto) write <strong>VETO</strong>
If the government had a hitler election or hitler was killed, write <strong>H</strong> at the end of the line

Putting it all together: A sample game could look like the following.
SEAT 4
1111111 - 15 RRB RR R
1111111 - 26 RRB RB B
1111111 - 37 RRR RR R - INV 7 FAS
0000000 - 46
0000000 - 51
1111111 - 62 RRR RR R - SE 2
1111111 - 24 RBB BB B
0000000 - 71
1000000 - 15
1111000 - 23 RRR RR R - KILL 7
1111000 - 34 RBB RB B
1001010 - 46
0110000 - 52
0001000 - 62 B
1001000 - 13
1110110 - 23 RRR RR R - KILL 4
0110100 - 52 H
            </pre>
        </div>
    </div>
</body>
</html>
